@page
@model TestingModel
@{
    ViewData["Title"] = "Testing";
}
<h1>@ViewData["Title"]</h1>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-03JP1WSP3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-03JP1WSP3N');
</script>
<script>
    function search_city() {
        let filter = document.getElementById("myInput").value.toLowerCase();

        let myTable = document.getElementById("myTable");
        let tr = myTable.getElementsByTagName("tr");
        for (var i = 0; i < tr.length; i++) {
            //tr[i] represent rows and [0] represent the first column (city)
            let td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                let textvalue = td.textContent || td.innerHTML;

                if (textvalue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<body class="body">
    <div class="container"> <!-- **This is for testing the username/password Model, please don't touch :) -->
        <div class="card border-secondary">
            <div class="card">
                <div class="card-header"><b>Search for an Assessment Center</b></div>
                <input class="form-control" type="text" id="myInput" onkeyup="search_city()" placeholder="Search City Here">

                <table class="table" id="myTable">
                    <thead>
                        <th scope="col">City</th>
                        <th scope="col">Location</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                    </thead>
                    @foreach (var assess in Model.AssessmentCenters)
                        {
                        <tr>

                            <td class="cities">@assess.city</td>
                            <td>@assess.location_name</td>
                            <td>@assess.address</td>
                            <td>@assess.phone</td>

                        </tr>
                        }
                </table>
            </div>
        </div>
    </div>    
</body>
