@page
@model TestingModel
@{
    ViewData["Title"] = "Testing";
}
<h1>@ViewData["Title"]</h1>

<body class="body">
    <div class="body">
        <p>This is where the main service will be.</p></br>
        <p>Once databases are configured then we will make it so users can browse different regions, and login to save
            their preferences. Until then, this chart is provided by <button class="clickable-element"
                onclick="window.open('https://resources-covid19canada.hub.arcgis.com/pages/media')" target="_blank">Esri
                Canada.</button></label></p></br>
        <div class="chart">
            <!-- <iframe src="https://covid19canada.maps.arcgis.com/apps/opsdashboard/index.html#/cfbd8528810042d38d4e184e6731f2f9" height="550" width="100%"></iframe>
             <iframe src="https://covid19canada.maps.arcgis.com/apps/opsdashboard/index.html#/2772c0489f43411ca9493fc5888fbe67" height="550" width="100%"></iframe> 
               <iframe src="https://covid19canada.maps.arcgis.com/apps/Minimalist/index.html?appid=b3baccb0f30e4516b8e64009b3383f55" height="500" width="100%"></iframe>
            <iframe
                src="https://covid19canada.maps.arcgis.com/apps/Minimalist/index.html?appid=b3baccb0f30e4516b8e64009b3383f55"
                height="500" width="100%"></iframe> -->
        </div>
    </div>
    <div class="container"> <!-- **This is for testing the username/password Model, please don't touch :) -->
        <div class="card border-secondary">
            <div class="card-header">Users from database (just testing that it works): </div>
            <div class="row">
            @foreach (var pers in Model.Users)
                {
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-header">@pers.UID</h4>
                            <p class="card-text">@pers.Username</p>
                            <p class="card-text">@pers.Password</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <div>
        <h1>Due to limited access to the database of Testing Center locations, you will only be able to search for testing centers in Ontario</h1>
        <select id="select_city">
            @foreach (var ass in Model.AssessmentCenters) {
            <option value="@ass.Id">@prov.Name</option>
            }
        </select>
    </div>
</body>
